<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing Page</title>
</head>
<body>
    <h1 style="color:tomato">Hello from the other side</h1>
        <p>This is where you can click icons and it leads to certain fucntions.</p>
        <select>
            <option>Total Food Waste Calculation</option>
            <option>Extract Raw FW & CV Data</option>
            <option value="third option">Show Appreciation <3 </option>
        </select>
        <p><input type="Submit"></p>
</body>
</html>