{% extends "base.html" %}

{% block title %}Total Food Waste{% endblock %}

{% set show_container = false %}

{% block content %}
<style>
    .custom-container {
        background-color: cornflowerblue;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 40px auto;
    }
    .custom-form label {
        display: block;
        margin-top: 10px;
    }
    .custom-form input {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    .custom-form button {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
    }
</style>

<div class="custom-container">
    <center>
        <h2>Total Food Waste <img src="/static/garbage.png" width="32" height="32"></h2>
        <p>Total food waste in kg per type.</p>
    </center>
    <form action="{{ url_for('process_total_fw') }}" method="POST" class="custom-form">
        <p style="color:orange; text-align:center; font-size: 16px; font-weight: bold;">Total FW is NOT inclusive of Plate Waste</p>
        <p style="color:white; text-align:center; font-size: 16px;">Separate PLATE waste figure is available on second sheet</p>
        <label for="company_name">Company Name:</label>
        <input type="text" name="company_name" id="company_name" required>

        <label for="start_date">Start Date (YYYY-MM-DD):</label>
        <input type="date" name="start_date" id="start_date" required>

        <label for="end_date">End Date (YYYY-MM-DD):</label>
        <input type="date" name="end_date" id="end_date" required>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
