<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teleport</title>
</head>
<body>
    <h1 style="color:tomato">WARPING GATE</h1>
    <img src="{{ url_for('static', filename='warp.png') }}" alt="Warp Image" width="150" height="150">
    <form action="/process" method="POST">
        <label for="destination">Choose a destination:</label>
        <select id="destination" name="destination">
            <option value="Extractor">FW & CV Entries Extractor</option>
            <option value="Total_FW">Total Food Waste Calculation</option>
            <option value="Send_love">Send Pepé some 💌</option>
        </select>
        <input type="submit" value="Letsa Goo! 🚀">
    </form>
</body>
</html>

