{% extends "base.html" %}

{% block title %}Food Waste & Cover Entries{% endblock %}

{% set show_container = false %}

{% block content %}

<style>
    .custom-container {
        background-color: lightskyblue;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 40px auto;
    }
    .custom-form label {
        display: block;
        margin-top: 10px;
    }
    .custom-form input {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    .custom-form button {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
    }
</style>

<div class="custom-container">
    <center>
        <h2>FW & CV Entries <img src="/static/diet.png" width="32" height="32"></h2>
        <p>Raw food waste and cover entries & food waste entry count.</p>
    </center>
    <form action="{{ url_for('process_entries') }}" method="POST" class="custom-form">
        <label for="company_name">Company Name:</label>
        <input type="text" name="company_name" id="company_name" required>

        <label for="start_date">Start Date (YYYY-MM-DD):</label>
        <input type="date" name="start_date" id="start_date" required>

        <label for="end_date">End Date (YYYY-MM-DD):</label>
        <input type="date" name="end_date" id="end_date" required>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
