{% extends "base.html" %}

{% block title %}FW & CV Extractor{% endblock %}

{% block content %}
    <h1>FW & CV Extractor<img src="/static/search.png" width="32" height="32"></h1>
    <form action="{{ url_for('process_entries') }}" method="POST">
        <label for="company_name">Company Name:</label>
        <input type="text" name="company_name" id="company_name">
        <br>
        <label for="start_date">Start Date (YYYY-MM-DD):</label>
        <input type="date" name="start_date" id="start_date">
        <br>
        <label for="end_date">End Date (YYYY-MM-DD):</label>
        <input type="date" name="end_date" id="end_date">
        <br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
