{% extends "base.html" %}

{% block title %}Data Consistency{% endblock %}

{% block content %}
    <center><h2>Data Consistency<img src="/static/consistency.png" width="32" height="32"></h2>
    <p> Monthly consistency since after first baseline & graphs for download.</p></center>
    <form action="{{ url_for('process_dcon') }}" method="POST">
        <label for="company_name">Company Name:</label>
        <input type="text" name="company_name" id="company_name">
        <p style="color:orangered"> <strong>Consistency is counted after the 1st Baseline onwards.</strong> </p>
        <label for="end_date">End Date:</label>
        <input type="date" name="end_date" id="end_date"> 
        <br>
        <button type="submit" class="btn btn-primary" style="margin: 10px auto; display: block;">Submit</button>
    </form>
{% endblock %}
