{% extends "base.html" %}

{% block title %}Pepé{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div>
            <h2>Welcome to de APP</h2>
            <p>Please select a functionality to execute:</p>
            <ul>
                <li><a href="{{ url_for('form_total_fw') }}">Total FW<img src="/static/garbage.png" width="32" height="32"></a></li>
                <p> Total food waste in kg per type.</p>
                <li><a href="{{ url_for('form_entries') }}">FW & CV Entries<img src="/static/diet.png" width="32" height="32"></a></li>
                <p> Raw food waste and cover entries & food waste entry count.</p>
                <li><a href="{{ url_for('form_dcon') }}">Dcon by Month<img src="/static/consistency.png" width="32" height="32"></a></li>
                <p> Monthly consistency since post first baseline.</p>
                <li><a href="{{ url_for('form_weekly') }}">Dcon by Week<img src="/static/goated.png" width="32" height="32"></a></li>
                <p> Dcon per Week for Monitoring</p>
                <!-- Add more links to other functionalities if needed -->
            </ul>
        </div>
    </div>
{% endblock %}
