<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FW & CV Entries Extractor</title>
</head>
<body>
    <h1>Raw FW & CV Entries Extractor &#127843;</h1>
    <form action="someplace.php">
		<fieldset>
			<legend>Text and Password</legend>
			<label for="username">Username:</label>
			<input name="username" id="username" value="Some Text">
			<label for="password">Password:</label>
			<input type="password" name="password" id="password" value="Password">
		</fieldset>
	</form>
</body>
</html>